/*Здесь объявим некоторые общие стили */ 
ul {
    list-style: none;
    margin:0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
  }
a {
    text-decoration: none;
}
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
  }
  input, textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
  }
  input[type="button"] {
    -webkit-appearance: button;
    cursor: pointer;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  fieldset {
      border: 0 none;
  }
  .container {
width: 1200px;
    padding:auto;
    margin:0 auto;
    text-align:centre;
    overflow: visible;
  }
  
  
  /* Шапка сайта */
  .main-menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-height: 56px;
  }
  .menu-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 239px;
      height: 56px;
  }
  .main-menu__item--logo {
      width: 244px;
      height: 71px;
      z-index: 2;
  }

  .menu-item__link {
      font-family: "PTSans-Bold", "Arial" , sans-serif;
      font-size: 14px;
      line-height: 26px;
      text-transform: uppercase;
      color:black;
      cursor: pointer;
  }
  .menu-item__link:hover {
      color:#81b3d2;
  }
  .menu-item__link:active {
      opacity: 0.3;
  }


  /* Вёрстка промо-блока сайта */
  .promo-picture {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 1200px;
      min-height: 510px;
      background:
    url(../img/background-photo.png) no-repeat;
      background-size: 100% 100%;
      background-position: bottom;
  }
  .promo-picture::after {
      position: absolute;
      content: "";
      background: url(../img/polygon.png);
      background-position: bottom;
      background-size: 100% 100%;
      width:100%;
      height: 59px;
      top:89%;
      overflow: hidden;
  }
 

  /* Вёрстка блока с перечислением преимуществ */
  .promo-features {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .promo-features__heading {
    font-family: "PTSans-Bold", "Arial" , sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color:black;
    text-align: center;
    
    max-width: 440px;
    min-height: 48px;
    margin-top:59px;
    margin-bottom: 0;
  }
.promo-features__description {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color:#333333;
    font-weight: normal;
    margin:0;
    margin-top: 38px;
    margin-bottom: 56px;
}
.small-block {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: 100%;
    height: 256px;
    background-color:#81b3d2;
}
.left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}
.left-block__heading {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    color:#ffffff;
    text-align: center;
    font-weight: normal;
    margin:0;
    margin-top: 46px;
    width:140px;
}
.left-block__number {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    color:#ffffff;
    margin:0;
    margin-top:30px;
    margin-bottom: 30px;
}
.left-block__description {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    margin:0;
    max-width:280px;
}
.features-list {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: 270px;
}
.feature-item {
    display: flex;
    flex-direction: column;

    align-items: center;
    min-width: 400px;
}
.feature-item_heading {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color:#000000;
    margin:0;
    margin-top:29px;
    margin-bottom: 29px;
}
.feature-item__description {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color:#333333;
    text-align: center;
    width:285px;
    margin: 0;
}
.feature-block {
    display: flex;
    flex-direction: row;
}
.right-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}
.right-block__heading{
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    color:#ffffff;
    text-align: center;
    font-weight: normal;
    margin:0;
    margin-top: 46px;
    width:149px;
}
.right-block__number {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    color:#ffffff;
    margin:0;
    margin-top:30px;
    margin-bottom: 30px;
}
.right-block__description {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color:#ffffff;
    margin:0;
    max-width:300px;
}
.features-ul {
    display: flex;
    flex-direction: row;
    min-height: 256px;
}
.ul-item {
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;

    align-items: center;
    min-width: 400px;
}
.ul-item__heading {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    color:#000000;
    width: 130px;
    text-align: center;
    margin:0;
    margin-top:50px;
}
.ul-item__number {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    font-weight: normal;
    text-transform: uppercase;
    color:#333333;
    text-align: center;
    margin:0;
    margin-top: 24px;
    margin-bottom: 24px;
}
.ul-item__description {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 21px;
    text-transform: uppercase;
    color:#333333;
    text-align: center;
    width: 258px;
}
/* Вёрстка блока с картой и формой */

.promo-interested {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.interested-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.interested-top__heading {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
    text-transform: uppercase;
    color:#000000;
    text-align: center;
}
.interested-top__description {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: normal;
    color:#333333;
    max-width: 435px;
    text-align: center;
}
/* Вёрстка формы начинается тут */
.interested-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 481px;
    width:568px;
}
.interested-form__heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    color:#ffffff;
    text-align: center;
    background-color: #766357;
    min-width: 568px;
    min-height: 86px;
    margin:0;
    cursor: pointer;
}
.interested-form__heading:hover {
    background-color:#604e43;
}
.interested-form__heading:active {
    color:rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}
.form-middle {
    position: relative;
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight:bold;
    text-align: left;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    width:568px;
    box-shadow: 0px 7px 15px 0 rgba(0, 1, 1 , 0.15);
    background-color: #ffffff;
    z-index: 10;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color:#000000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color:#000000;
  opacity: 1; ;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-family: "PTSans-Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color:#000000;
  opacity: 1; ;
}
input::-ms-value {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    color:#000000;
    opacity: 1; 
}
input[type=date] {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    opacity: 1;
}
.first-label {
    max-height: 20px;
    margin-right: 21px;
    margin-left: 55px;
    margin-top:60px;
}
.first-input, .second-input {
    width:346px;
    height:38px;
    background-color:#f2f2f2;
    padding-left: 12px;
}
.first-input {
    margin-top: 55px;
    margin-bottom: 29px;
    border:none;
}
.first-input::-webkit-inner-spin-button,
.first-input::-webkit-calendar-picker-indicator {
    display: none;
}

.form-middle__calendar {
    position: absolute;
    left:483px;
    top:63px;
}
.second-label {
    max-height: 20px;
    margin-left: 55px;
    margin-right: 18px;
    margin-top:4px;
}
.second-input {
    border: none;
    margin-bottom: 30px;
}
.second-input::-webkit-inner-spin-button,
.second-input::-webkit-calendar-picker-indicator {
    display: none;
}
.form-middle__second-calendar {
    position: absolute;
    left:483px;
    top:130px;
}
.third-label {
    margin-left: 55px;
    margin-right: 37px;
    margin-top: 6px;
}
.third-input, .fourth-input {
    width:114px;
    height: 38px;
    background-color:#f2f2f2;
    border:none;
    margin-bottom: 54px;
}
.third-input::-webkit-inner-spin-button,
.third-input::-webkit-calendar-picker-indicator {
    display: none;
}
.input-group input[type='button'] {
    background-color: #eeeeee;
    max-width: 38px;
    transition: all 300ms ease;
  }
  
 .button-minus,
 .button-plus {
    font-weight: bold;
    max-height: 38px;
    padding: 0;
    width: 38px;
    position: relative;
    border:none;
    color:rgba(0, 1, 1, 0.15);
    font-size: 23px;
  }
.quantity-field {
    position: relative;
    height: 38px;
    text-align: center;
    width: 38px;
    display: inline-block;
    font-size: 13px;
    margin: 0 0 5px;
    resize: vertical;
    border:none;
    background-color: #f2f2f2;
  }
  .quantity-field {
      width:38px;
      margin:0;
      height: 38px;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }
  input[type="button"]::-ms-value {
    background-color: #0a77d5;
    color:red;
   }
   input::-ms-value {
       color:red;
   }
  
.fourth-label {
    margin-left: 55px;
    margin-right: 27px;
    margin-top: 6px;
    margin-bottom: 54px;
}
.fourth-input::-webkit-inner-spin-button,
.fourth-input::-webkit-calendar-picker-indicator {
    display: none;

}
.first-input, .second-input, .third-input, .fourth-input:focus {
    border:none;
    outline: none;
}

.form-middle__button {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    color:#ffffff;
    text-transform: uppercase;
    padding: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    min-width: 458px;
    height: 58px;
    background-color:#81b3d2;
    margin-bottom: 55px;
    margin-left: 55px;
}
.form-middle__button:hover {
    background-color: #669ec0;
    outline: none;
}
.form-middle__button:active {
    background-color: #5496bd;
    color:rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
}
.promo-interested__map {
    position: absolute;
    max-height: 473px;
    z-index: -2;
    top:248px;
}

/*Тут вёрстка подавала сайта */
.page-footer {
    display: flex;
    justify-content: space-around;
    min-height: 120px;
    margin-top:78px;
}
.footer-left {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    color:#000000;
    text-transform: uppercase;
    max-width: 223px;
    white-space: unset;
    margin:0;
    margin-top:36px;
}
.footer-left__hashtag {
    min-width:136px;
    margin-bottom: 14px;
}
.footer-left__number {
    min-width: 223px;
    white-space: nowrap;
}
.footer-socials {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:36px;
    min-width: 150px;
    max-height: 48px;
    z-index: 100;
}
.footer-socials__item {
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    min-width: 46px;
    min-height: 48px;
    cursor: pointer;
}
.footer-socials__item::before {
    content: "";
    position: absolute;
    background-color: #81b3d2;
    width:46px;
    height: 48px;
    z-index: -1;
    bottom:0px;
    right: 0px;
}
.footer-socials__item:hover::before {
    background-color: #669ec0;
}
.footer-socials__item:active::before {
    background-color: #5496bd;
}
.footer-socials__item:active::before ~ .socials-item__logo {
    opacity: 0.3;
}
.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    max-height: 41px;
    margin-top: 39px;
}
.footer-copyright__text {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin-right: 8px;
}
.copyright-logo__image {
    width: 115px;
    height: 41px;
    cursor: pointer;
}
.copyright-logo__image:hover path {
    fill: #81b3d2;
}
.copyright-logo__image:active{
    opacity: 0.3;
}

/* Тут начинается разметка каталога */
.upper-form {
    min-width: 1200px;
    min-height: 217px;
    display: flex;
    flex-direction: row;
    background: url('../img/filter-background.png') no-repeat;
    background-size: 100% 800px;
    background-position: center;
}
.first-fieldset {
    text-transform: uppercase;
    color:#ffffff;
    width: 139px;
    margin:0;
    margin-left: 72px;
    padding: 0;
    display: inline;
}
.first-fieldset__legend {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    padding-top:31px;
    margin-bottom: 28px;
}
.infra-list {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.infra-item {
    margin-bottom: 23px;
}
.infra-item__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.infra-item__label {
    margin-left:40px;
    cursor: pointer;
}
.infra-item__input + label {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.infra-item__input + label::before {
    content: '';
    position: absolute;
    background: url('../img/checkbox-off.svg');
    z-index: 1;
    width:23px;
    height: 23px;
    left:-40px;
    cursor: pointer;
}
.infra-item__input:checked + label::before {
    content: '';
    position: absolute;
    background: url('../img/checkbox-on.svg');
    z-index: 1;
    width:27px;
    height: 23px;
    left:-40px;
    cursor: pointer;
}
.second-fieldset {
    text-transform: uppercase;
    color:#ffffff;
    display: inline;
    margin:0;
    margin-left: 115px;
    padding:0;
    min-width: 136px;
}
.second-fieldset__legend {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    padding-top: 31px;
    margin-bottom: 28px;
}
.living-list {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
}
.living-item {
    margin-bottom: 23px;
}
.living-item__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.living-item__label {
    cursor: pointer;
    margin-left: 42px;
}
.living-item__input + label {
    position: relative;
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.living-item__input + label::before {
    content: '';
    position: absolute;
    background: url('../img/checkbox-off.svg');
    z-index: 1;
    width:23px;
    height: 23px;
    left:-40px;
    cursor: pointer;
}
.living-item__input:checked + label::before {
    content: '';
    position: absolute;
    background: url('../img/checkbox-on.svg');
    z-index: 1;
    width:27px;
    height: 23px;
    left:-40px;
    cursor: pointer;
}

/* Тут вёрстка слайдера */
  .filter-range {
      display: inline-block;
    width: 314px;
  
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 31px;
    margin-left: auto;
    margin-right: 74px;
  }
  
  .filter-range-title {
    margin-bottom: 9px;
  
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
  }
  
  .price-controls {
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    
    height: 32px;
    margin-bottom: 20px;
    
    font-size: 0;
  
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
  
  .price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 2px;
    height: 22px;
  
    background: #ffffff;
    transform: translate(-50%, -50%);
  }
  
  .price-controls label {
    display: inline-block;
  
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
  
    cursor: pointer;
  }
  
  .price-controls .min-price,
  .price-controls .max-price {
    width: 90px;
    padding-left: 63px;
  }
  
  .price-controls input {
    width: 50px;
    margin: 0;
  
    color: inherit;
    font: inherit;
  
    background: none;
    border: none;
  }
  
  .range-controls {
    position: relative;
  
    margin-bottom: 32px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }
  
  .btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
  
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
  
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .btn-transparent:hover {
    color: #000000;
  
    background: #ffffff;
  }

  /* Тут разметка центральной части каталога */
  .catalog-hotels__top {
      display: flex;
      flex-direction: row;
      height: 86px;
      align-items: center;
      max-width: 1200px;
  }
  .catalog-hotels__heading {
      font-family: "PTSans-Bold", "Arial", sans-serif;
      font-size: 21px;
      line-height: 26px;
      text-transform: uppercase;
      margin-left: 72px;
      margin-right: 49px;
  }
  .catalog-hotels__presorting {
    font-family: "PTSans-Regular";
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 40px;
  }
  .sorting-list {
      display: flex;
      flex-direction: row;
      font-family: "PTSans-Regular";
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
  }
  .sorting-item {
    margin-right: 33px;
  }
  .sorting-item:last-child {
      margin-right: 0px;
  }
  .sorting-item__link {
      color:#81b3d2;
      cursor: pointer;
  }
  .sorting-item__link--disabled {
      color:rgba(0,0,0,0.3);
      border-bottom: 1px dotted #81b3d2;
      cursor: pointer;
  }
  .sorting-item__link--disabled:hover {
      color:#81b3d2;
  }
  .sorting-item__link--disabled:active {
    color:#000000;
    border:none;
}
  .hotels-controls {
      margin-left: 504px;
  }
  .controls-list {
      display: flex;
      flex-direction: row;
  }
  .controls-item {
      margin-right: 12px;
  }
  .controls-item:last-child {
      margin-right: 0px;
  }
  .controls-link__image--up path,
  .controls-link__image--down path {
      fill: #cacaca;
  }
  .controls-link__image--up:hover path,
  .controls-link__image--down:hover path  {
    fill: #000000;
}
.controls-link__image--up:active path,
.controls-link__image--down:active path  {
    fill: #81b3d2;
}
.down-active path {
    fill:#81b3d2;
}
/* Вёрстка списка предложений гостиниц, мотелей и т д */
.hotels-list {
    display: flex;
    flex-direction: column;
}
.hotels-item {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 150px;
    border-top: 1px solid rgba(0,1,1,0.2);
}
.hotels-item:last-child {
    border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}
.hotels-item__image {
    width: 135px;
    height: 90px;
    margin-left: 72px;
}
.hotels-left {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 258px;
    min-height: 90px;
    margin-left: 30px;
}
.hotels-left__heading {
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    margin:0;
    cursor: pointer;
}
.hotels-left__heading:hover {
    color:#81b3d2;
}
.hotels-left__heading:active {
    color:rgba(0,0,0,0.3);
}
.hotels-table {
    width: 258px;
    margin-left: -5px;
}
.hotels-row {
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color:#333333;
    height: 30px;
}
.hotels-row tr {
    padding-left:0px;
    padding-right: 0px;
}
.hotels-row__more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color:#ffffff;
    width: 110px;
    height: 27px;
    background-color: #81b3d2;
}
.hotels-row__book {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PTSans-Bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color:#ffffff;
    width: 142px;
    height: 27px;
    background-color: #766357;
    margin-left: 2px;
}
.hotels-row__more:hover {
    background-color: #669ec0;
}
.hotels-row__more:active {
    color:rgba(255,255,255,0.3);
    background-color: #5496bd;
}
.hotels-row__book:hover {
    background-color: #604e43;
}
.hotels-row__book:active {
    color:rgba(255,255,255,0.3);
    background-color: #503e33;
}
.hotels-left__more {
    width: 110px;
}
.hotels-left__book {
    width: 142px;
}

.hotels-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width:110px;
    height: 90px;
    margin-left: 522px;
}
.hotels-stars {
    display: flex;
    flex-direction: row;
}
.hotels-right__rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PTSans-Regular", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color:#666666;
    width: 110px;
    height: 27px;
    background-color: #f2f2f2;
    margin-bottom: 2px;
}
.page-footer--catalog {
    display: flex;
    justify-content: space-around;
    min-height: 120px;
}